<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="products.css" />
  </head>
  <body>
    <div class="container">
      <div id="app">
        <div class="container">
          <div class="row py-3">
            <div class="col-md-8">
              <div class="d-flex">
                <h2>產品列表</h2>
                <button
                  type="button"
                  class="btn btn-primary mx-4"
                  @click="openModal('new')"
                >
                  增加產品
                </button>
              </div>
              <table class="table table-hover mt-4">
                <thead>
                  <tr>
                    <th width="200">產品名稱</th>
                    <th width="120">
                      原價
                    </th>
                    <th width="120">
                      售價
                    </th>
                    <th width="120">
                      是否啟用
                    </th>
                    <th width="120">
                      查看細節
                    </th>
                    <th width="120">
                      編輯
                    </th>
                    <th width="120">
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(item,id) in allProducts" :key="item.id">
                    <td width="200">{{ item.title }}</td>
                    <td width="120">
                      {{ item.origin_price }}
                    </td>
                    <td width="120">
                      {{ item.price }}
                    </td>
                    <td width="120">
                      <span class="text-success" v-if="item.is_enabled"
                        >啟用</span
                      >
                      <span v-else>未啟用</span>
                    </td>
                    <td width="120">
                      <button
                        type="button"
                        class="btn btn-success"
                        @click="showProduct = 
                        item"
                      >
                        查看細節
                      </button>
                    </td>
                    <td width="120">
                      <button
                        type="button"
                        class="btn btn-primary"
                        @click="openModal('edit', item)"
                      >
                        編輯
                      </button>
                    </td>
                    <td width="120">
                      <button
                      type="button"
                      class="btn btn-danger"
                      @click="openModal('delete', item)">
                        刪除
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <p>目前有 <span>{{ allProducts.length }}</span> 項產品</p>
            </div>
            <div class="col-md-4">
              <h2>單一產品細節</h2>
              <template v-if="showProduct.id">
                  <div class="card mb-3">
                  <img
                    :src="showProduct.imageUrl"
                    class="card-img-top primary-image"
                    alt="主圖"
                  />
                  <div class="card-body">
                    <h5 class="card-title">
                      {{ showProduct.title }}
                      <span class="badge bg-primary ms-2"
                        >{{ showProduct.category }}</span
                      >
                    </h5>
                    <p class="card-text">
                      商品描述：{{ showProduct.description }}
                    </p>
                    <p class="card-text">商品內容：{{ showProduct.content }}</p>
                    <div class="d-flex">
                      <p class="card-text me-2">{{ showProduct.price }}</p>
                      <p class="card-text text-secondary">
                        <del>{{ showProduct.origin_price }}</del>
                      </p>
                      {{ showProduct.unit }} / 元
                    </div>
                  </div>
                </div>
                <template v-for="item in showProduct.imagesUrl" :key="item.id">
                  <img
                    :src="item"
                    alt="productImg"
                    class="images m-2"
                    v-if="item"
                  />
                </template>
              </template>
              <p class="text-secondary" v-else>請選擇一個商品查看</p>
            </div>
          </div>
        </div>

        
        <!--create-Modal  and edit-Modal-->
        <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">
                  <span v-if="isNew">新增產品</span>
                  <span v-else>編輯產品</span>
                </h5>
                <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close">
              </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-12">
                        <div class="mb-3">
                          <label for="productName" class="form-label">產品名稱</label>
                          <input
                          type="text"
                          class="form-control"
                          id="productName"
                          v-model="tempProduct.title">
                        </div>
                        <div class="row">
                          <div class="col-6">
                          <div class="mb-3">
                            <label for="category" class="form-label">分類</label>
                            <input
                            type="text"
                            class="form-control"
                            id="category"
                            v-model="tempProduct.category">
                          </div>
                          </div>
                          <div class="col-6">
                          <div class="mb-3">
                            <label for="unit" class="form-label">單位</label>
                            <input
                            type="text"
                            class="form-control"
                            id="unit"
                            v-model="tempProduct.unit">
                          </div>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-6">
                          <div class="mb-3">
                            <label for="originPrice" class="form-label">原價</label>
                            <input
                            type="number"
                            class="form-control"
                            id="originPrice"
                            min="0"
                            v-model.number="tempProduct.origin_price">
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="mb-3">
                            <label for="price" class="form-label">售價</label>
                            <input
                            type="number"
                            class="form-control"
                            id="price"
                            min="0"
                            v-model.number="tempProduct.price">
                          </div>
                        </div>
                        <div class="mb-3">
                          <label for="description" class="form-label">產品描述</label>
                          <textarea 
                            class="form-control"
                            id="description"
                            v-model="tempProduct.description">
                          </textarea>
                        </div>
                        <div class="mb-3">
                          <label for="content" class="form-label">說明內容</label>
                          <textarea 
                            class="form-control"
                            id="content"
                            v-model="tempProduct.content">
                          </textarea>
                        </div>
                        <div class="mb-3">
                          <div class="form-check">
                            <input
                              id="is_enabled"
                              v-model="tempProduct.is_enabled"
                              class="form-check-input"
                              type="checkbox"
                              :true-value="1"  
                              :false-value="0"
                            /><!--checkbox 使用 true-value 及 false-value 分別綁定勾選及未勾選時的資料-->
                            <label class="form-check-label" for="is_enabled"
                              >是否啟用</label
                            >
                          </div>
                        </div>
                        <div class="mb-3">
                          <label for="image" class="form-label">主要圖片</label>
                          <input type="text" class="form-control" id="image" v-model="tempProduct.imageUrl">
                          <img class="img-fluid" :src="tempProduct.imageUrl" />
                        </div>
                        
                        <!--多圖新增(編輯)-->
                        <div class="mb-3" v-if="!isNew && tempProduct.imagesUrl.length>0">
                          <div v-for="(item,id) in tempProduct.imagesUrl" :key="item">
                            <div class="mb-3">
                              <label for="sideImage1" class="form-label">次要圖片{{id+1}}</label>
                              <input type="text" class="form-control" id="sideImage1" v-model="tempProduct.imagesUrl[id]">
                              <img class="img-fluid" :src="item" />
                            </div>
                          </div>
                        </div>

                        <!--多圖新增(新增產品)-->
                        <div class="mb-3" v-else>
                          <div class="mb-3">
                            <label for="sideImage1" class="form-label">次要圖片1</label>
                            <input type="text" class="form-control" id="sideImage1" v-model="tempProduct.imagesUrl[0]">
                            <img class="img-fluid" :src="tempProduct.imagesUrl[0]" />
                          </div>
                          <div class="mb-3">
                            <label for="sideImage2" class="form-label">次要圖片2</label>
                            <input type="text" class="form-control" id="sideImage2" v-model="tempProduct.imagesUrl[1]">
                            <img class="img-fluid" :src="tempProduct.imagesUrl[1]" />
                          </div>
                          <div class="mb-3">
                            <label for="sideImage3" class="form-label">次要圖片3</label>
                            <input type="text" class="form-control" id="sideImage3" v-model="tempProduct.imagesUrl[2]">
                            <img class="img-fluid" :src="tempProduct.imagesUrl[2]" />
                          </div>
                          <div class="mb-3">
                            <label for="sideImage4" class="form-label">次要圖片4</label>
                            <input type="text" class="form-control" id="sideImage4" v-model="tempProduct.imagesUrl[3]">
                            <img class="img-fluid" :src="tempProduct.imagesUrl[3]" />
                          </div>
                          <div class="mb-3">
                            <label for="sideImage5" class="form-label">次要圖片5</label>
                            <input type="text" class="form-control" id="sideImage5" v-model="tempProduct.imagesUrl[4]">
                            <img class="img-fluid" :src="tempProduct.imagesUrl[4]" />
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" @click="updateProduct">確認</button>
              </div>
            </div>
          </div>
        </div>


        <!--delete-Modal-->
        <div
        id="delProductModal"
        ref="delProductModal"
        class="modal fade"
        tabindex="-1"
        aria-labelledby="delProductModalLabel"
        aria-hidden="true"
        >
        <div class="modal-dialog">
          <div class="modal-content border-0">
            <div class="modal-header">
              <h5 id="delProductModalLabel" class="modal-title">
                <span>刪除產品</span>
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              是否刪除
              <strong class="text-danger">{{ tempProduct.title }}</strong>
              商品(刪除後將無法恢復)。
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-outline-secondary"
                data-bs-dismiss="modal"
              >
                取消
              </button>
              <button type="button" class="btn btn-danger" @click="delProduct">
                確認刪除
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.min.js"
      integrity="sha512-Xk3wWei2TGrsh9kDSBKUMIjw/86sLUvhtnv9f7fOuIwhhiUTKz8szkWkzHthrM5Bb3Bu9idSzkxOrkzhcneuiw=="
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.1/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    <script src="products.js"></script>
  </body>
</html>
